.login{
    margin-left: auto;
    margin-right: auto;
    width:600px;
}

.login__title{
    text-align: center;
}

.login__error{
    color:red;
    font-weight: bold;
    &:before{
        content:'* ';
    }
}

