<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.inmobiliaria.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprobarPagosService</servlet-name>
        <servlet-class>com.inmobiliaria.services.ComprobarPagosService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarEmailService</servlet-name>
        <servlet-class>com.inmobiliaria.services.EnviarEmailService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaViviendasController</servlet-name>
        <servlet-class>com.inmobiliaria.controllers.viviendas.ListaViviendasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViviendaController</servlet-name>
        <servlet-class>com.inmobiliaria.controllers.viviendas.ViviendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaClientesController</servlet-name>
        <servlet-class>com.inmobiliaria.controllers.clientes.ListaClientesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>com.inmobiliaria.controllers.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>com.inmobiliaria.controllers.clientes.ClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanelControllController</servlet-name>
        <servlet-class>com.inmobiliaria.controllers.PanelControllController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/app/panel-de-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprobarPagosService</servlet-name>
        <url-pattern>/app/ComprobarPagosService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarEmailService</servlet-name>
        <url-pattern>/app/EnviarEmailService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaViviendasController</servlet-name>
        <url-pattern>/app/ListaViviendasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViviendaController</servlet-name>
        <url-pattern>/app/ViviendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaClientesController</servlet-name>
        <url-pattern>/app/ListaClientesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/app/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/app/ClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanelControllController</servlet-name>
        <url-pattern>/PanelControllController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
